<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Music Charts App</title>
</head>
<body>
    <h2>Here is your created playlist:</h2>
    <div>
        <iframe style="border-radius:12px"
            src= {{ value }}
            width="80%" height="500"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div>

</body>
</html>